{
  "openapi": "3.0.3",
  "info": {
    "version": "36.2.0",
    "x-logo": {
      "url": "https://segment.com/docs/images/twilio-segment-logo.png",
      "backgroundColor": "#ebf4ff",
      "altText": "Twilio Segment logo"
    },
    "contact": {
      "email": "friends@segment.com",
      "name": "Segment",
      "url": "https://docs.segmentapis.com"
    },
    "title": "Segment Public API",
    "description": "The Segment Public API helps you manage your Segment Workspaces and its resources. You can use the API to perform CRUD (create, read, update, delete) operations at no extra charge. This includes working with resources such as Sources, Destinations, Warehouses, Tracking Plans, and the Segment Destinations and Sources Catalogs.\n\nAll CRUD endpoints in the API follow REST conventions and use standard HTTP methods. Different URL endpoints represent different resources in a Workspace.\n\nSee the next sections for more information on how to use the Segment Public API.\n"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.segmentapis.com"
    },
    {
      "description": "Staging",
      "url": "https://api.segmentapis.build"
    }
  ],
  "security": [
    {
      "token": []
    }
  ],
  "tags": [
    {
      "name": "Introduction",
      "description": "The Segment Public API helps you manage your Segment Workspaces and its resources. You can use the API to perform CRUD (create, read, update, delete) operations at no extra charge. This includes working with resources such as Sources, Destinations, Warehouses, Tracking Plans, and the Segment Destinations and Sources Catalogs.\n\nAll CRUD endpoints in the API follow REST conventions and use standard HTTP methods. Different URL endpoints represent different resources in a Workspace.\n\nSee the next sections for more information on how to use the Segment Public API.\n"
    },
    {
      "name": "Getting Started",
      "description": "The Segment Public API requires that you have an authentication token before you send requests. This section explains how to get a token and add it to your requests.\n\n## Get an API token\n\n1. Log in to the Segment App, and choose the Workspace you want to generate a token for. Each Segment Workspace requires a separate token. <!--TODO: screenshot-->\n2. Click **Settings** in the left menu to access Workspace Settings. Navigate to the **Access Management** tab, and click **Tokens**. This tab lists any existing tokens created for the Workspace.\n3. Click **+Create Token** , and follow the prompts to generate a new token. Be sure to select a Public API token, and not a Config API token. Once generated, store the token somewhere safe, like a password store or other secrets manager.\n\n## Create a test request\n\nThe Segment Public API only accepts requests in the HTTP 1.1 or HTTP 2 protocols over port 443 (HTTPS). All communications must be encrypted, so requests on port 80 (plain HTTP) will be refused.\n\nThe Segment Public API can be accessed through multiple regions, depending on data residency policies: for US-based Workspaces, use `api.segmentapis.com`. For EU-based Workspaces, `eu1.api.segmentapis.com`.\n\nYou must send the token as an `Authorization` header in your requests. Use the following format: `Authorization: Bearer $TOKEN`, where `$TOKEN` is the variable containing the value of the token.\n\nFor example, in a US-based Workspace:\n\n```\ncurl \\\n  --request GET \\\n  --url https://api.segmentapis.com/ \\\n  --header \"Authorization: Bearer $TOKEN\"\n```\n\nIn an EU-based Workspace:\n\n```\ncurl \\\n  --request GET \\\n  --url https://eu1.api.segmentapis.com/ \\\n  --header \"Authorization: Bearer $TOKEN\"\n```\n\nLearn more about how the Segment Public API handles [authentication](/tag/Authentication) in the next section.\n\n## Install and use an SDK\n\nSDKs for the Public API are available in [JavaScript/TypeScript](https://github.com/segmentio/public-api-sdk-typescript), [Go](https://github.com/segmentio/public-api-sdk-go), [Java](https://github.com/segmentio/public-api-sdk-java) and [Swift](https://github.com/segmentio/public-api-sdk-swift). If you develop in one of these platforms, installing and using the SDK is a simpler way to call Public API.\n\n### JavaScript and TypeScript (Node.js)\n\nTo install the `@segment/public-api-sdk-typescript` package, you can use either `npm` or `yarn`, depending on which package manager you prefer. Here are the installation instructions for each:\n\n#### NPM\n\n- Open a terminal window and navigate to the directory where you want to install the package.\n- Run the following command:\n\n```\nnpm install @segment/public-api-sdk-typescript\n```\n\n#### Yarn\n\n- Open a terminal window and navigate to the directory where you want to install the package.\n- Run the following command:\n\n```\nyarn add @segment/public-api-sdk-typescript\n```\n\nAfter doing the above, the package should be installed and ready for use in your project.\n\n### Go\n\nTo install the `segmentio/public-api-sdk-go` package, you will need to have the Go programming language installed on your system. You can check if you have Go installed by running the following command in your terminal:\n\n```\ngo version\n```\n\nIf Go is installed, this command will print the version number. If Go is not installed, you can follow the instructions on the Go website to install it: https://golang.org/doc/install\n\nOnce you have Go installed, you can install the `segmentio/public-api-sdk-go` package using the `go get` command. Here are the installation instructions:\n\n- Open a terminal window and navigate to the directory where you want to install the package.\n- Run the following command:\n\n```\ngo get github.com/segmentio/public-api-sdk-go\n```\n\nThis will download the package and all of its dependencies to your system. After the installation is complete, you can import and use the package in your Go code.\n\nHere is an example of how to import and use the package in a Go program:\n\n```\nimport \"github.com/segmentio/public-api-sdk-go\"\n```\n\nNote: You may need to add the `$GOPATH/bin` directory to your `$PATH` environment variable in order to use the package in your Go code. You can do this by running the following command in your terminal:\n\n```\nexport PATH=$PATH:$GOPATH/bin\n```\n\nAfter doing the above, the package should be installed and ready for use in your project.\n\n### Java\n\nTo install the `public-api-sdk-java` package, you will need to have the Java Development Kit (JDK) installed on your system. You can check if you have the JDK installed by running the following command in your terminal:\n\n```\njava -version\n```\n\nIf the JDK is installed, this command will print the version number. If the JDK is not installed, you can follow the instructions on the Oracle website to install it: https://www.oracle.com/java/technologies/javase-downloads.html\n\nOnce you have the JDK installed, you can install the @segment/public-api-sdk-java package using your preferred build tool. Here are the installation instructions for three popular build tools: Maven and Gradle.\n\n#### Maven\n\n- Open a terminal window and navigate to the directory where you want to install the package.\n- Create a new file called `pom.xml` in this directory with the following contents:\n\n```xml\n<project>\n  <modelVersion>4.0.0</modelVersion>\n  <groupId>com.example</groupId>\n  <artifactId>my-project</artifactId>\n  <version>1.0-SNAPSHOT</version>\n  <dependencies>\n    <dependency>\n      <groupId>com.segment.publicapi</groupId>\n      <artifactId>segment-publicapi</artifactId>\n      <version>33.0.4</version>\n    </dependency>\n  </dependencies>\n</project>\n```\n\n- Run the following command to download and install the package and its dependencies: `mvn install`.\n\n#### Gradle\n\n- Open a terminal window and navigate to the directory where you want to install the package.\n- Create a new file called `build.gradle`, or edit the existing one, and make sure it contains the following declaration:\n\n```gradle\ndependencies {\n  implementation \"com.segment.publicapi:segment-publicapi:33.0.4\"\n}\n```\n\nAfter doing the above, the package should be installed and ready for use in your project.\n\n### Swift\n\nTo install the Swift Public API SDK, you will need to add it as a dependency to your project. You can do this using Swift Package Manager.\n\nFirst, open your project in Xcode and navigate to the Swift Packages tab. Click the `+` button to add a new package dependency. Enter the repository URL for public-api: https://github.com/segmentio/public-api-sdk-swift.git.\n\nNext, select the version of the SDK that you want to use, and click `Next`. Xcode will automatically resolve the dependencies for your project, and you should now be able to use Public API in your code.\n\nAlternatively, you can add the following entry to your `Package.swift` file directly:\n\n```swift\n.package(name: \"PublicApi\", url: \"git@github.com:segmentio/public-api-sdk-swift.git\", branch: \"master\")\n```\n\nTo use Public API, you will need to import it at the top of your Swift file:\n\n```swift\nimport PublicApi\n```\n\nAfter doing the above, the package should be installed and ready for use in your project.\n"
    },
    {
      "name": "Benefits",
      "description": "The Segment Public API offers several benefits over the legacy Config API. These benefits include, but are not limited to:\n\n- More consistent endpoints, which enables more efficient onboarding.\n- Improved error handling and reporting.\n- Support for pagination and per-endpoint API versioning to improve API workflows.\n"
    },
    {
      "name": "Migration",
      "description": "Learn more about the benefits of the Segment Public API over Config API in the [benefits](/tag/Benefits) section.\n\nThe Config API and Public API do not share common endpoints, but they are conceptually similar.\n\nTo begin migration, Segment recommends that you inspect the Config API endpoints you use, and find their counterparts in the Public API.\n\n## Differences in operation\n\n### URL patterns\n\nExisting Config API URLs will not work against Public API. Segment provides a new simplified format. Most of the URLs in Public API follow the format below:\n\n    VERB /object\n    VERB /object/id\n    VERB /object/id/nested-object\n    VERB /object/id/nested-object/id\n\nExamples:\n\n    GET /sources\n    PUT /destinations/fP7qoQw2HTWt9WdMr718gn\n    GET /destinations/fP7qoQw2HTWt9WdMr718gn/subscriptions/aJCn6DQsTLw9aBTqd34uQf\n\nSome exceptions exist, like `GET /warehouses/{warehouseId}/connected-sources/{sourceId}/selective-syncs` where items nest further, but those are rare.\n\n### Slugs vs IDs\n\nThe Config API uses slugs, like `my-source` or `google-analytics` to identify objects. The Public API uses IDs. IDs provide the following advantages:\n\n- No guarantees or expectations of size, ordering, collation or format to these IDs\n- Once an object receives an ID, it will not change during the lifespan of that object\n- No objects will ever share an ID, even over time\n\n### The Public API implies workspace IDs\n\nThe Public API scopes all operations to a Workspace. The Workspace ID itself is not passed into the requests, but Segment looks it up as a result of authorizing the request.\n\nThe Public API removes fields like `parent` and `workspace`, which exist in Config API endpoints, as they are no longer needed.\n\n### Enum values\n\nSegment made all enumerated values in Public API use `SCREAMING_UNDERSCORE` casing across the board. No more guessing whether a field should have the value `likeThis` , `LikeThis`, `like-this`, `like_this`, etc. They’re all formatted the same in both inputs and outputs now.\n\n### Rate limits\n\nThere is a completely new rate limiting system in place in Public API. Please refer to [Rate Limits](/tag/Rate-Limits) to learn more.\n\n### Object limits\n\nSome objects (like Sources) are subject to limits depending on the Workspace type you use (team, business, etc). These limits are not different between Config API and Public API.\n\nEndpoints operating on collections of items are generally limited to 200 items per call, unless otherwise noted in their documentation.\n\n### Payload size limits\n\nCustomers often ask about size limits for some endpoints, like `Create Tracking Plan` and `Update Function`. Segment may split these endpoints into multiple smaller / batchable operations so request sizes are not an issue, but in the meantime the Public API caps:\n\n- Tracking Plan endpoints at about 2mb requests\n- Functions endpoints at about 25mb requests\n\nTo learn more, please refer to [Payload limits](/tag/Payload-Limits).\n"
    },
    {
      "name": "Authentication",
      "description": "The Segment Public API uses API Tokens to authenticate and authorize requests. You can generate tokens by accessing Segment's Workspace settings. See [Getting Started](/tag/Getting-Started) for more information.\n\n## Scope\n\nAPI Tokens are unique and scoped to the Segment Workspace in which you create them. Tokens identify and authorize actions that users or automations can perform using the Segment Public API.\n\n> **Note**: You must create a separate API Token for each Workspace you want to manage using the Segment Public API.\n\n## Permissions and security\n\nEach API Token has an associated identity and a set of permissions. These permissions set forth the actions you can perform in the Workspace.\n\nWorkspace Admins and Owners can grant or revoke a specific token's permissions by accessing Segment's Workspace settings.\n\n## Authenticating requests\n\nEvery request must include a header that contains an API token. Create these headers in the following format:\n\n```\nAuthorization: Bearer <your_token_here>\n```\n\nAll API requests must be over HTTPS. Plain HTTP calls and calls without authentication will fail.\n"
    },
    {
      "name": "Error Handling",
      "description": "The Segment Public API uses standard HTTP response codes to represent the state of an operation. Response codes in the `2xx` range were completed successfully, while those in the `4xx` and `5xx` ranges indicate a problem. The API also uses a [response envelope](/tag/Error-Handling#section/Response-Envelopes) format that makes it easy to navigate through response details.\n\n## Status codes overview\n\n| Code | Message              | Overview                                                                                                                                                                                                                                              |\n| ---- | -------------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| 200  | OK                   | A request was accepted and handled successfully.                                                                                                                                                                                                      |\n| 201  | Created              | A new resource was created successfully.                                                                                                                                                                                                              |\n| 401  | Unauthorized         | No authorization, or incorrect authorization provided for the resource. <br /> <br />This could mean: <br /> <br />- A missing API Token <br />- An invalid API token <br />- The provided API token does not have permission to access the resource. |\n| 404  | Not found            | The requested resource does not exist or cannot be found.                                                                                                                                                                                             |\n| 409  | Conflict             | There was a conflict when processing this request that prevented it from being fulfilled.                                                                                                                                                             |\n| 413  | Payload too large    | The request body is larger than limits defined by the server.                                                                                                                                                                                         |\n| 422  | Unprocessable entity | The request contained invalid parameters and was not accepted. <br /> <br />This usually means the request was missing required parameters, or included parameters that did not pass validation.                                                      |\n| 429  | Too many requests    | Too many sequential or concurrent requests to a specific resource or endpoint were made.                                                                                                                                                              |\n| 5xx  | Server error         | Segment was unable to serve the request due to an internal failure.                                                                                                                                                                                   |\n\n## Response envelopes\n\nThe Segment Public API uses a consistent envelope format in all response bodies. This makes it easy to read the response data, and check for and handle any potential errors.\n\nThe following two examples illustrate the responses.\n\n```json5\n{\n  data: {\n    hello: 'world',\n    // ... other keys and values\n  },\n}\n```\n\n```json\n{\n  \"errors\": [\n    {\n      \"type\": \"input-validation\",\n      \"message\": \"\\\"id\\\" is required\",\n      \"field\": \"id\"\n    }\n  ]\n}\n```\n\nResponses will never contain both `data` and `error` keys.\n\n### The `data` object\n\nAn object that contains the successful response from an API call. Responses in the `2xx` range always contain valid data, and conform to the `SuccessResponse` type specified above.\n\nThe following request and response pair shows a successful request and its response:\n\n```bash\ncurl https://api.segmentapis.com/warehouses/4w5kMU6vycSjfjt87k3pZB \\\n  --header 'Authorization: Bearer <token>'\n```\n\nA successful response always includes a `data` field.\n\n```json5\n{\n  data: {\n    warehouse: {\n      id: '4w5kMU6vycSjfjt87k3pZB',\n      workspaceId: '3i5paCz7b2MaaA8Wi7xXwe',\n      enabled: true,\n      // ...\n    },\n  },\n}\n```\n\n### The `errors` object\n\nThis section includes errors that prevented a request from completing. Responses in the `4xx` and `5xx` ranges always contain an `errors` array, as specified in the `ErrorResponse` type above, which describes the errors that prevented the request from finishing.\n\nGiven the following invalid request:\n\n```\ncurl --request POST \\\n  --url https://api.segmentapis.com/warehouses \\\n  --header 'Authorization: Bearer <token> ' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"warehouse\": {}\n  }'\n```\n\nThe response includes a list of errors that contains all errors that occurred during the request:\n\n```\nHTTP/1.1 422 Unprocessable Entity\n```\n\n```json\n{\n  \"errors\": [\n    {\n      \"type\": \"input-validation\",\n      \"message\": \"\\\"metadataId\\\" is required\",\n      \"field\": \"warehouse.metadataId\"\n    },\n    {\n      \"type\": \"input-validation\",\n      \"message\": \"\\\"settings\\\" is required\",\n      \"field\": \"warehouse.settings\"\n    }\n  ]\n}\n```\n\n### The error object\n\nAll errors in the Segment Public API use a consistent format. They always include a `type` field, which explains the type of error encountered, and may include optional fields to provide extra information and metadata about the failure.\n\n```typescript\n/** RequestError represents any error that could occur while executing a request. */\ntype RequestError = {\n  /** The type of error (validation, server, conflict, etc) */\n  type: string\n\n  /** An optional error message attached to the error */\n  message?: string\n\n  /** An optional field that triggered the error */\n  field?: string\n\n  /** An optional extra data object that can be associated with this error */\n  data?: object\n}\n```\n\nThe next section introduces [Validation Errors](/tag/Request-Validation), and explains how to handle and recover from requests that fail validation.\n"
    },
    {
      "name": "Request Validation",
      "description": "The Segment Public API validates all incoming requests. Be aware of two common request validation scenarios: Authentication Validation and Input Validation.\n\n## Authentication validation\n\nYou must authenticate each request with a valid API token. Requests that don't provide an authentication token, or provide an invalid or insufficient token, return authentication errors.\n\nSee the [Authentication section](/tag/Authentication) to learn more.\n\n## Input validation\n\nEach request validates against a set of required parameters described in the Segment Public API reference documentation for the request operation.\n\nRequests return Validation Errors if they fail to meet the schema requirements. These errors show which parts of the request are invalid.\n\n```\ncurl \\\n  --request POST \\\n  --url https://api.segmentapis.com/warehouses \\\n  --header 'Authorization: Bearer <token> ' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"warehouse\": {}\n  }'\n```\n\nThe response includes a list of errors which contains all errors that occurred during the request. In this case, both of the required `warehouse.metadataId` and `warehouse.settings` parameters are missing from the request.\n\n```json\nHTTP/1.1 422 Unprocessable Entity\n\n{\n  \"errors\": [\n    {\n      \"type\": \"input-validation\",\n      \"message\": \"\\\"metadataId\\\" is required\",\n      \"field\": \"warehouse.metadataId\"\n    },\n    {\n      \"type\": \"input-validation\",\n      \"message\": \"\\\"settings\\\" is required\",\n      \"field\": \"warehouse.settings\"\n    }\n  ]\n}\n```\n"
    },
    {
      "name": "Rate Limits",
      "description": "Segment has limits on the number of requests you can issue to the Public API at one time, and calculates these limits based on:\n\n- The sender IP address\n- The authentication token\n- Complexity and performance requirements of the request\n\nEvery successful HTTP response contains the following HTTP headers:\n\n- `X-RateLimit-Consumed`: the number of requests performed during the current rate limiting window.\n- `X-RateLimit-Remaining`: the number of requests remaining in the current rate limiting window.\n- `X-RateLimit-Reset`: a timestamp, in [RFC 5322 format](https://www.rfc-editor.org/rfc/rfc5322#section-3.3), denoting when the limit will be reset (that is, when a new window will begin).\n\n## Rate limit errors\n\nRate limited requests fail with the `429` status code. The failure includes a descriptive response which contains metadata about the request limits.\n\n### Rate limit error object\n\n| Field                  | Description                                                                                                                   |\n| ---------------------- | ----------------------------------------------------------------------------------------------------------------------------- |\n| `message`              | A message that explains the rate limit error.                                                                                 |\n| `data.msBeforeNext`    | A number of milliseconds before the rate limit is lifted.                                                                     |\n| `data.remainingPoints` | Same as the `X-RateLimit-Remaining` response header. The number of requests remaining in the current rate limiting window.    |\n| `data.consumedPoints`  | Same as the `X-RateLimit-Consumed` response header. The number of requests performed during the current rate limiting window. |\n\nThe example below shows a response that shows the remaining and consumed points.\n\n```json\n{\n  \"errors\": [\n    {\n      \"type\": \"RequestError\",\n      \"message\": \"Too many requests\",\n      \"data\": {\n        \"remainingPoints\": 0,\n        \"msBeforeNext\": 57647,\n        \"consumedPoints\": 21\n      }\n    }\n  ]\n}\n```\n\n## Common rate limit causes\n\nThe most common causes for rate limits include, but are not limited to:\n\n- Too many requests made against a resource in a short period of time.\n- Requesting a large page count or too many pages in a paginated resource too quickly.\n- N+1 requests that are issued in a `for` loop with a large number of elements.\n- Programs that restart automatically after crashing.\n\n## Reducing your call volume\n\nThe Segment Public API includes generous rate limits that allow normal workflows to complete. If you receive rate limit errors, review your requests for places where you can reduce the number of individual calls, and use the best practices listed below to avoid or mitigate rate limit overages.\n\n- Use list-based endpoints whenever possible. Avoid loading multiple hundreds of items using single-resource endpoints. For example, request a batch of Destinations, rather than iterating over a list of single Destinations.\n- Consider using exponential backoffs when retrying operations.\n- Avoid writing code that invokes the Segment Public API in a `for` loop. If you _must_ use `for` loops, consider stopping code execution briefly using `sleep` calls between items in a list.\n- [Contact Segment support](https://segment.com/help/contact/) if you think your workflows are being affected by unreasonable rate limits.\n"
    },
    {
      "name": "Payload Limits",
      "description": "To provide the highest possible quality of service to all customers, Segment has limits on the amount data you can send to the Segment Public API in a single request.\n\nThis API supports HTTP requests with bodies containing up to **25mb** (26,214,400 bytes) worth of data.\n\n## Payload limit error\n\nRequests with payload over this limit fail with the `413` status code:\n\n```json\n{\n  \"errors\": [\n    {\n      \"type\": \"PayloadLimitError\",\n      \"message\": \"The payload limit size of 25mb has been reached\"\n    }\n  ]\n}\n```\n"
    },
    {
      "name": "Pagination",
      "description": "All top-level resources in the Segment Public API return paginated requests using token based pagination. List-based API endpoints require pagination parameters to return results. If you omit pagination parameters, the requests fail validation.\n\n## Pagination parameters\n\nEvery list-based operation in the Segment Public API requires pagination parameters. These parameters pass as a pagination object either through query or body parameters.\n\n### The `pagination` object\n\nThe pagination input object contains two main properties: cursor and count.\n\n```typescript\ntype Pagination {\n  cursor?: string // optional cursor representing the position in a paginated list\n  count: number // integer number of items to retrieve in a page, between 1 and 200\n}\n```\n\nYou can provide pagination parameters by using either query or body parameters. The examples below show both ways to format pagination parameters.\n\n```json\n// As query params\n/warehouses?pagination.count=3&pagination.cursor=Mw%3D%3D\n\n// as body params\n{\n  \"pagination\": {\n    \"count\": 3,\n    \"cursor\": \"Mw==\"\n  }\n}\n```\n\n### Pagination response\n\nPagination responses include the pagination metadata that you can use to access the next page of the data. The example below shows the pagination object, which keeps track of which page was just returned, and which pages are before and after the current page.\n\n```json\n{\n  \"data\": {\n    \"warehouses\": [\n      ...\n    ],\n    \"pagination\": {\n      \"current\": \"MA==\",\n      \"next\": \"Mw==\",\n      \"previous\": null,\n      \"totalEntries\": 20\n    }\n  }\n}\n```\n\n<!--(TODO Add link if/when we publish docs for this)\n> tip \"\"\n> Bonus: The Javascript/TypeScript library can use the `paginate` function to automatically paginate resources.-->\n"
    },
    {
      "name": "Versioning",
      "description": "The Segment Public API supports `alpha`, `beta`, and `stable` versions. Each version carries its own guarantees, trade-offs, and risks. Because customers can access all three API versions, you can use the version that best fits your organization's needs.\n\nSegment doesn't lock you into a global API version. You can choose which endpoint version fits your needs and which trade-offs you prefer.\n\nThe following table offers an overview of each version:\n\n| Version                                            | Overview                                                                                                                                                                                                                              |\n| -------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| alpha <br />`application/vnd.segment.alpha+json`   | - Fairly unstable <br />- Basic documentation <br />- Breaking changes are common and expected <br />- Strict rate limits <br />- Use at your own risk                                                                                |\n| beta <br /> `application/vnd.segment.beta+json`    | - Fairly stable <br />- Basic documentation with examples and corner cases <br />- Breaking changes are possible <br />- Flexible rate limits <br />- Should be safe for non-critical workflows                                       |\n| stable <br />`application/vnd.segment.stable+json` | - Highest level of stability <br />- Comprehensive documentation that includes examples, corner cases, and limitations <br />- No breaking changes expected\\* <br />- Standard rate limits <br />- Safe to use for critical workflows |\n\n## Accessing versions\n\nEach available endpoint is tagged with its corresponding supported versions so that you can choose the API version that best supports your use case.\n\n### Standard API calls\n\nStandard API call requests are forwarded to the endpoint's most stable available version.\n\nThe Segment Public API first checks for an endpoint's `stable` version, then falls back to a `beta` version, if one exists. If no mature API versions are available, Segment falls back to an `alpha` version.\n\n### Versioned API calls\n\nYou can pass in the specific version of the API call you want to access as an HTTP header. Do this when you want to access API features currently unavailable on the `stable` version.\n\nThe following example shows a correctly formatted request to the `alpha` version of the `sources` route:\n\n```\ncurl \\\n  --request GET\n  --url 'https://api.segmentapis.com/sources' \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header 'Accept: application/vnd.segment.alpha+json'\n```\n\nThe next example shows the same request made to the same endpoint's `beta` version.\n\n```\ncurl \\\n  --request GET\n  --url 'https://api.segmentapis.com/sources' \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header 'Accept: application/vnd.segment.beta+json'\n```\n\n## Backwards-incompatible or breaking changes\n\nNew endpoint versions become available when Segment makes new, backwards-incompatible (\"breaking\") changes to the Segment Public API. Segment reserves the right to make breaking changes to the API, though such changes will occur infrequently. To minimize disruption to your workflow, Segment adds special release versions to new, backwards-incompatible routes.\n"
    },
    {
      "name": "Warehouses",
      "description": "A Warehouse is a central repository of data collected from one or more Sources. This is what commonly comes to mind when you think about a relational database: structured data that fits into rows and columns.\n\nUsing the Segment Public API, you can create, delete, update, list, validate and connect Warehouses.\n"
    },
    {
      "name": "Sources",
      "description": "In Segment, you create a Source (or more than one!) for each website or app you want to track. While it’s not required that you have a single Source for each server, site or app, Segment recommends that you create a Source for each unique source of data.\n\n## Migrate from the Config API\n\nLike the Segment Public API, the Config API has one endpoint to retrieve details about a Workspace. The [getSource endpoint](https://reference.segmentapis.com/#5a852761-54d5-46da-8437-6e14e63449f3) returns the following fields:\n\n| Config API     | Public API                                      |\n| -------------- | ----------------------------------------------- |\n| `name`         | See note on names vs IDs in the migration guide |\n| `name`         | `slug` (`workspace/` prefix removed)            |\n| `display_name` | `name`                                          |\n| `create_time`  | None                                            |\n\nTo migrate, replace any use of the Config API endpoints with the Segment Public API counterparts, using the field mappings in the table above.\n"
    },
    {
      "name": "IAM Users",
      "description": "Segment’s access management tools let Workspace owners manage which users can access different parts of their Segment Workspaces.\n"
    },
    {
      "name": "IAM Groups",
      "description": "A User Group is a set of Team Members with a set of shared policies. A Segment Team Member can be a member of one or many Groups. All roles in the Segment App are additive, which means that you can assign group memberships and individual roles to a single team member. For example, a single user can inherit roles from a Group definition AND have access to more resources through individually assigned roles.\n"
    },
    {
      "name": "Tracking Plans",
      "description": "A Tracking Plan is a data spec outlining the events and properties you intend to collect across your Segment Sources.\n\nThe Segment Tracking Plan feature allows you to validate your expected events against the live events that Segment receives. Segment generates violations when an event doesn’t match the spec’d event in the Tracking Plan.\n\nYou can store your Tracking Plans in your Workspace, and connect them to one or more Sources.\n\nUsing the Segment Public API, you can create, delete, update, list, and connect Tracking Plans and their Rules.\n\n## Migrate from the Config API\n\nThe [getTrackingPlan endpoint](https://reference.segmentapis.com/#1092fe01-379b-4ca1-8b1d-9f42b33d2899) returns the following fields:\n\n| Config API     | Public API  |\n| -------------- | ----------- |\n| `display_name` | `name`      |\n| `name`         | `slug`      |\n| `updateTime`   | `updatedAt` |\n| `createTime`   | `createdAt` |\n\nTo migrate, replace any use of the Config API endpoints with the Segment Public API counterparts, using the field mappings in the table above.\n"
    },
    {
      "name": "Spaces",
      "description": "A space is a separate Personas environment. Consider the two main reasons you might use spaces:\n\n- To separate your development and production environments (highly recommended)\n- To separate environments for distinct teams or geographical regions\n"
    },
    {
      "name": "Deletion and Suppression",
      "description": "In keeping with Segment's commitment to support GDPR and future privacy regulations such as the CCPA, you can delete and suppress data about end users if you identify that user with a `userId`, should they revoke or alter their consent to data collection. For instance, if an end user in the EU invokes their Right to Object or Right to Erasure under the GDPR, you can use the following features in Segment to block ongoing data collection about the user, and delete all historical data across Segment’s systems, connected S3 buckets and Warehouses, and supported downstream partners.\n\nRegulations enable you to issue a single request to delete and suppress data about a user by `userId`. All regulations are by default scoped to your Workspace and target all Sources within the Workspace. This way, you don't need to page over every Source within Segment to delete data about a user across all your users.\n\nAll deletion and suppression actions within Segment are asynchronous, and fall under the umbrella of what Segment calls \"Regulations.\" Regulations are requests to Segment to impart control over your data flow. You can issue these requests with the Segment Public API using the endpoints below.\n\nYou can't replay data deleted through Regulations. For standard replay requests, Segment asks that you wait for deletions to complete and not submit any new deletion requests for the period of time that Segment replays data for you.\n\n## Migrate from the Config API\n\nDeletion and Suppression got an overhaul in the Segment Public API. They’re now divided into Workspace, Source, and Cloud Source-related endpoints. The Public API simplifies these endpoints: the `attributes` input field is no longer required, and you can now pass an array of IDs to regulate (instead of a `parent`).\n"
    },
    {
      "name": "Destinations",
      "description": "Destinations receive data _from_ Segment.\n\nIn the Segment Public API, you can manipulate Destinations and the connections between Sources and Destinations, as well as list and inspect their relationships.\n\n## Migrate from the Config API\n\nLike Segment Public API, Config API allows creating, retrieving, updating and deleting Destination objects. See the table below for some key differences:\n\n| Config API     | Public API                                      |\n| -------------- | ----------------------------------------------- |\n| catalogId      | Not returned                                    |\n| config         | `settings`                                      |\n| connectionMode | Not returned                                    |\n| createTime     | Not returned                                    |\n| displayName    | `name`                                          |\n| enabled        | `enabled`                                       |\n| name           | See note on names vs IDs in the migration guide |\n| parent         | `sourceId` (prefix removed)                     |\n| updateTime     | Not returned                                    |\n\nTo migrate, replace any use of the Config API endpoints with the Segment Public API counterparts, using the field mappings in the table above.\n"
    },
    {
      "name": "Edge Functions",
      "description": "Edge functions enables you to write event enrichment and transformation logic in Javascript outside\nyour client codebase and deployed to applications over-the-air dynamically.\n\n## Availability\n\nEdge Functions are in Private Alpha testing and available to select customers. To opt in, contact your Customer Success Manager and ensure that you have one of Segment's new Mobile SDKs (Swift or Kotlin) configured.\n\n## Migrate from the Config API\n\n| Config API | Public API                                                            |\n| ---------- | --------------------------------------------------------------------- |\n| `name`     | Use the Source `id` (See note on names vs IDs in the migration guide) |\n\nTo migrate, replace any use of the Config API endpoints with the Segment Public API counterparts, using the field mappings in the table above.\n"
    },
    {
      "name": "Destination Filters",
      "description": "The Destination Filters API provides fine-grained controls that allow you to conditionally prevent data delivery to specific destinations. You can filter entire events (for example, selectively drop them) or block/allow individual fields in events before you send them. You can conditionally apply filters to each event based on the contents of that event’s payload. For example, you could apply a filter to Track events with a `plan` property equal to `Professional`, or you could apply a filter to events with a user email address that does not match `*@example.com`.\n\n## Use cases\n\nUse Destination Filters to:\n\n- Reduce the delivery volume of events to a Destination to save on costs\n- Filter out Personally Identifying Information (PII) from the events sent to a Destination that shouldn't receive or store PII\n- Prevent internal user activity from reaching an analytics tool\n- Send the events that you care about to an custom webhook\n\n## Availability\n\nDestination Filters are available to all Business customers and support cloud-based (server-side) and web device-mode destinations. Mobile device-mode destinations are in beta and only support [Swift](https://segment.com/docs/connections/sources/catalog/libraries/mobile/swift-ios/), [Kotlin](https://segment.com/docs/connections/sources/catalog/libraries/mobile/kotlin-android/), and [React Native 2.0](https://segment.com/docs/connections/sources/catalog/libraries/mobile/react-native/) libraries. S3 and Warehouse Destinations are not yet supported.\n\n## Types of filters\n\nThere are three filters that can be applied to events:\n| Type | Action |\n| ---------------- | ---------------------------------------- |\n| drop | Do not send the event to the destination |\n| sample | Send only a percentage of events through to the destination. You can optionally sample based on a field. For example, you can sample 10% of users by sampling on userId instead of a random 10% of all events, which is the default. |\n| allow_properties | Allow properties in the event by specifying nested JSON objects (for example, context, properties.productDetails, etc.) and a list of fields that should be retained in that nested object, with all others dropped before the event is sent to the destination.|\n| drop_properties | Drop properties in the event by specifying nested JSON objects (for example, context, properties.productDetails, etc.) and a list of fields to drop from those nested objects before the event is sent to the destination. |\n\nThe `allow_properties` and `drop_properties` filters may only filter fields inside the following top-level fields of Segment events:\n\n- `properties`\n- `context`\n- `traits`\n\n## Filter order\n\nFilters are applied in the following order for each event:\n\n1. `drop`\n2. `sample`\n3. `allow_properties`\n4. `drop_properties`\n\n## Conditional filters\n\nFilters can optionally be applied to an event by writing an \"if\" statement using Filter Query Language (\"FQL\"), Segment’s simple query language for streaming JSON. FQL statements evaluate to true or false based on the contents of each event, allowing you to only apply filters to specific events.\n\nFor example, given the following event payload:\n\n```\n{\n  \"event\": \"Button Clicked\",\n  \"type\": \"track\",\n  \"context\": {\n    \"library\": {\n      \"name\": \"analytics.js\",\n      \"version\": \"1.0\",\n    }\n  }\n}\n```\n\nThe following FQL statements will evaluate to \"true\", causing the filter to be applied:\n\n- `event = 'Button Clicked'`\n- `event = 'Button Clicked' and type = 'track'`\n- `match(context.library.version, '1.*')`\n- `type = 'identify' or type = 'track'`\n\nAnd the following FQL statements will evaluate to \"false\", causing the filter to be skipped:\n\n- `event = 'Screen Tapped'`\n- `context.path.path = '/login'`\n- `match (context.library.version, '2.*')`\n\nFor more detailed documentation including a list of all operators and functions, see the [FQL Documentation](https://segment.com/docs/api/public-api/fql).\n\n## Universal filters\n\nTo apply a filter to all events going to a destination, you can supply an \"if\" statement of \"all\". All actions in that filter will be applied to events before being delivered to that destination.\n\n## Limits\n\nDestination Filters currently have the following limits:\n\n- Each Destination may have no more than 10 filters.\n- FQL \"if\" statements may be a maximum of 3Kb in size.\n- Filters may have a maximum of 4 actions.\n- Allow / Drop properties filters may target a maximum of 8 objects and each object may have a maximum of 64 fields in the allow or drop.\n- The Preview API \"input\" payload may be a maximum of 128Kb.\n\nIf you would like any of these limits lifted, please reach out to Segment at friends@segment.com.\n\n## API models\n\n### Filter\n\n| Attribute   | Type     | Description                                                                                                                                       |           |\n| ----------- | -------- | ------------------------------------------------------------------------------------------------------------------------------------------------- | --------- |\n| name        | string   | The URL path of this filter.                                                                                                                      | read-only |\n| enabled     | boolean  | Whether or not this filter should be active.                                                                                                      |           |\n| title       | string   | A human-readable title for this filter.                                                                                                           |           |\n| description | string   | A longer human-readable description of this filter.                                                                                               |           |\n| if          | string   | A FQL statement that causes this filter’s action to be applied if it evaluates to true. \"all\" will cause the filter to be applied to all events   | required  |\n| actions     | []action | The filtering action to take on events that match the \"if\" statement. Must be one of: \"drop\", \"sample\", \"allow_properties\", or \"drop_properties\". | required  |\n\n## Action\n\n### Drop\n\nThe `drop` action will cause the event to be dropped and not sent to the destination if the \"if\" statement evaluates to true.\n\n| Attribute | Type   | Description                                                |          |\n| --------- | ------ | ---------------------------------------------------------- | -------- |\n| type      | string | The action name. For the drop action, this must be \"drop\". | required |\n\n### Sample\n\nThe `sample` action will allow only a percentage of events through. It can sample randomly or, if given a path attribute, it can sample a percentage of events based on the contents of a field. This is useful for sampling all events for a percentage of users rather than a percentage of all events for all users.\n\n| Attribute | Type   | Description                                                                                                                                                                            |          |\n| --------- | ------ | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | -------- |\n| type      | string | The action name. For the sample action, this must be \"sample\".                                                                                                                         | required |\n| percent   | float  | A percentage in the range [0.0, 1.0] that determines the percent of events to allow through. 0.0 will allow no events and 1.0 will allow all events. The default is 0.0.               | required |\n| path      | string | If non-empty, events will be sampled based on the value at this path. For example, if path is userId, a percentage of users will have their events allowed through to the destination. |          |\n\n### Allow properties\n\nThe allow_properties action takes a list of nested objects (for example, `context`, `properties.orderDetails`) and a list of fields for each object that should be allowed, with all other fields in those objects dropped.\n| Attribute | Type | Description | |\n| --------- | ------ | ---------------------------------------------------------------------------------------------------------- | -------- |\n| type | string | The action name. For the allow properties action, this must be \"allow_properties\". | required |\n| fields | map of string → list of string | A map of nested JSON objects that should have their properties filtered. The map key is the path to the nested JSON object (for example, context.ip, properties, etc.) and the value is a list of string that specifies which fields within the object to allow. Nested JSON objects not specified in this map will be untouched by this filter | required |\n\n### Drop properties\n\nThe drop_properties action takes a list of nested objects (for example, `context`, `properties.orderDetails`) and a list of fields for each object that should be dropped, with all other fields in those objects untouched.\n| Attribute | Type | Description | |\n| --------- | ------------------------------ | ---------------------------------------------------------------------------------- | -------- |\n| type | string | The action name. For the drop properties action, this must be \"drop_properties\". | required |\n| fields | map of string → list of string | A map of nested JSON objects that should have their properties filtered. The map key is the path to the nested JSON object (for example, context.ip, properties, etc.) and the value is a list of string that specifies which fields within the object to drop. Nested JSON objects not specified in this map will be untouched by this filter | required |\n\n## Migrate from the Config API\n\n## Destination filter model\n\n| Config API field | Public API counterpart     |\n| ---------------- | -------------------------- |\n| name             | Use the `id` field instead |\n| enabled          | `enabled`                  |\n| title            | `title`                    |\n| description      | `description`              |\n| if               | `if`                       |\n| actions          | `actions`                  |\n\n## Action model differences\n\n### Type property\n\n| Config API       | Public API counterpart |\n| ---------------- | ---------------------- |\n| drop_event       | `drop`                 |\n| sample_event     | `sample`               |\n| whitelist_fields | `allow_properties`     |\n| blacklist_fields | `drop_properties`      |\n\n### Fields property\n\nThe type of `fields` property has been changed:\n\n| Config API                             | Public API counterpart         |\n| -------------------------------------- | ------------------------------ |\n| map of string → Field List (see below) | map of string → list of string |\n\n#### Field list\n\n| Attribute | Type     | Description                                                                                                |\n| --------- | -------- | ---------------------------------------------------------------------------------------------------------- |\n| fields    | []string | One or more JSON object field names. Nested fields (that is, dot-separated field names) are not supported. |\n\nTo migrate, replace any usages of the Config API endpoints with the Segment Public API counterparts, using the field mappings in the table above.\n"
    },
    {
      "name": "Functions",
      "description": "Functions let you create your own Sources and Destinations directly within your Workspace to bring new types of data into Segment and send data to new tools with JavaScript - no extra infrastructure required.\n\n## Migrate from the Config API\n\nThe [getFunction endpoint](https://reference.segmentapis.com/#7963d88e-2e1b-41eb-9fa2-66a113c12f1c) returns the following fields:\n\n| Config API    | Public API     |\n| ------------- | -------------- |\n| `id`          | `id`           |\n| `type`        | `resourceType` |\n| `created_at`  | `createdAt`    |\n| `created_by`  | `createdBy`    |\n| `description` | `description`  |\n| `logo_url`    | `logoUrl`      |\n| `catalog_id`  | `catalogId`    |\n"
    },
    {
      "name": "Labels",
      "description": "Workspace owners can use Labels to grant users access to groups of resources. When you add a Label to a Source or Personas Space, any users to whom you assign that Label gain access to those resources.\n\nTo create or configure labels, go to the Labels tab in your Workspace settings. Only Workspace Owners can manage labels for the entire Workspace.\n"
    },
    {
      "name": "Profiles Sync",
      "description": "A Profiles Sync Warehouse is a central repository of data collected from your workspace. It is what commonly comes to mind when you think about a relational database: structured data that fits into rows and columns.\n\nUsing Segment’s Public API, you can create, delete, update, and list Spaces Warehouses connections.\n"
    },
    {
      "name": "Reverse ETL",
      "description": "Reverse ETL allows the use of a database (aka: Segment Warehouse) as a source of\ndata to be connected and sent to supported Segment Destinations. Previously, it\nwas only possible to use a Segment Warehouse as a destination.\n\n## Sync schedule JSON configuration\n\nThe structure of `scheduleConfig` varies with the value in `scheduleStrategy`.\nAll strategies will employ a key/value object with _minimum_ depth of 1.\n\n### Strategy: \"manual\"\n\nWhen `scheduleStrategy` is \"manual\", this field can be excluded altogether. With\nthis strategy, syncs will never be triggered automatically, so they must be\nrequested manually.\n\n### Strategy: \"periodic\"\n\nWhen `scheduleStrategy` is \"periodic\", the only supported key is \"interval\",\nwhich will be a string that is in a format accepted by Go's\n[time.ParseDuration][go-time-parse-duration] function. For example, \"3h\" will\nsync every 3 hours, while \"30m\" will sync every 30 minutes. The interval must be\ngreater than 10 minutes (\"10m\") and shorter than 1 week (\"168h\").\n\nAn example config would look like this:\n\n```json\n{\n  \"interval\": \"1h\"\n}\n```\n\n### Strategy: \"specific_days\"\n\nWhen `scheduleStrategy` is \"specific_days\", there are only 3 supported keys:\n\"days\", \"hours\" and \"timezone\".\n\nThe \"days\" field must be an array of numbers, corresponding to the desired days\nof the week that syncs should run. Each item must be a number from 0 (Sunday) up\nto 6 (Saturday). There needs to be at least 1 item, but also no more than 7.\n\nFor example: `[0, 6]` would correspond to the weekend (Saturday and Sunday)\nwhile `[1, 2, 3, 4, 5]` would correspond to the weekdays (Monday through\nFriday).\n\nThe \"hours\" field must be an array of numbers, corresponding to the desired\nhours of the day that syncs should run. Each item must be a number from 0 (12am\nor 0:00) up to 23 (11pm or 23:00). There needs to be at least 1 item, but also\nno more than 24.\n\nFor example: `[0, 12]` would correspond to the running at midnight (12:00am /\n0:00) and noon (12:00pm / 12:00).\n\nThe \"timezone\" field must be a valid value from the IANA database used by\nGolang, which should match the list found [here][iana-timezones]. This allows\nthe \"hours\" above to reflect your own time zone which may be easier to\nconfigure, but you can also choose \"UTC\" if you want to avoid things like DST\n(daylight savings).\n\nAn example config would look like:\n\n```json\n{\n  \"days\": [0, 6],\n  \"hours\": [0, 6, 12, 18],\n  \"timezone\": \"America/Los_Angeles\"\n}\n```\n\nThis would run syncs 4 times per day (midnight, 6am, noon, 6pm) but only on\nweekends (Saturday and Sunday).\n\n[go-time-parse-duration]: https://pkg.go.dev/time#ParseDuration\n[iana-timezones]: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones\n"
    },
    {
      "name": "Transformations",
      "description": "With Transformations, you can change data as it flows through Segment to:\n- Correct bad data\n- Customize data for a specific destination\n- Align events with your tracking plan\n\nWith Segment's Public API, you can use Transformations for several use cases:\n1. Rename Track events\n- Use `newEventName` in the `createTransformation` or `updateTransformation` API call.\n2. Rename a property (Track events) or a trait (Identify or Group events)\n- Use `propertyRenames` in the `createTransformation` or `updateTransformation` API call.\n3. Update a property value to a different static value or add a new property and set a static value\n- Use `propertyValueTransformations` in the `createTransformation` or `updateTransformation` API call.\n- Segment currently supports setting static values for top-level fields with `propertyValueTransformations`. However, Segment doesn't support changing fields outside the properties or traits object with `propertyRenames`.\n\nVisit [Segment's Transformations docs](https://segment.com/docs/protocols/transform/) to learn more.\n"
    },
    {
      "name": "Testing",
      "description": "The `echo` endpoint lets you test Segment Public API connectivity, responses, versioning, and error handling.\n"
    },
    {
      "name": "Selective Sync",
      "description": "Warehouse Selective Sync allows you to manage the data that you send to your Warehouses. You can use this feature to stop syncing specific events (also known as collections) or properties that aren’t relevant, and may slow down your Warehouse syncs.\n"
    },
    {
      "name": "Audiences",
      "description": "Audiences play a key role in gaining a deeper understanding of your users. Audiences allow you to group users or profiles based on shared characteristics, behaviors, and attributes. Using events passed into Segment, traits, and computed traits you can create Audiences which can help unlock more relevant engagement and communication.\n\n> **Note**: The Audience API is currently in a Private Beta. If you are interested in joining the Private Beta, then please reach out to your customer success manager.\n"
    },
    {
      "name": "Computed Traits",
      "description": "Computed traits allow you to quickly create new traits for a user or profile based on that user's tracked interactions. Using the events and event properties that you send through page and track calls, Segment will calculate and keep up-to-date, over time, the value for your defined computed trait. These can be computations like the total number of orders a customer has completed, the lifetime revenue of a customer, the most frequent user to determine which user is most active in an account, or the unique visitors count to assess how many visitors from a single domain.\n\n> **Note**: The Computed Traits API is currently in a Private Beta. If you are interested in joining the Private Beta, then please reach out to your customer success manager.\n\nNote that when using a unique list computed trait, Segment limits the number of Event Properties that can be added to the specific trait to 10,000. If your computed trait exceeds this limit, Segment will not persist any new Event Properties and will drop new trait keys and corresponding values.\n"
    },
    {
      "name": "API Calls",
      "description": "The Segment Public API lets you get cumulative API call counts for a usage period.\n"
    },
    {
      "name": "Monthly Tracked Users",
      "description": ""
    },
    {
      "name": "Catalog",
      "description": "These endpoints let you list all the Sources, Destinations, and Destination settings that Segment supports.\n\n## Migrate from the Config API\n\nLike the Segment Public API, the Config API has endpoints to navigate the catalog of Integrations supported by Segment. See the sections below for some key differences:\n\n### Source catalog items\n\n| Config API  | Public API                                      |\n| ----------- | ----------------------------------------------- |\n| name        | See note on names vs IDs in the migration guide |\n| displayName | `name`                                          |\n| description | `description`                                   |\n| categories  | `categories`                                    |\n| logos       | `logos`                                         |\n| type        | Removed                                         |\n\n### Destination catalog items\n\n| Config API                 | Public API                                      |\n| -------------------------- | ----------------------------------------------- |\n| browserUnbundlingPublic    | `supportedFeatures.browserUnbundlingPublic`     |\n| browserUnbundlingSupported | `supportedFeatures.browserUnbundling`           |\n| categories                 | `categories`                                    |\n| components                 | `components`                                    |\n| description                | `description`                                   |\n| displayName                | `name`,                                         |\n| id                         | `id`                                            |\n| logos                      | `logos`                                         |\n| methods                    | `supportedMethods`                              |\n| name                       | See note on names vs IDs in the migration guide |\n| platforms                  | `supportedPlatforms`                            |\n| previousNames              | `previousNames`                                 |\n| settings                   | `options`                                       |\n| slug                       | `slug`                                          |\n| status                     | `status`                                        |\n| type                       | Not returned                                    |\n| website                    | `website`                                       |\n\nTo migrate, replace any use of the Config API endpoints with the Segment Public API counterparts, using the field mappings in the table above.\n"
    },
    {
      "name": "Events",
      "description": ""
    },
    {
      "name": "Workspaces",
      "description": "A Workspace is a group of Sources that you administer and Segment bills together. Workspaces help companies manage access for different users and data Sources and let you collaborate with team members, add permissions, and share Sources across your team using a shared billing account.\n\nWhen you first log in to your Segment account, you can create a new Workspace, or choose to log into an existing Workspace if your account is part of an existing organization.\n\nAs the Segment Public API scopes tokens to a Workspace, all operations within the API are also limited to the Workspace to which that token belongs.\n\n## Migrate from the Config API\n\nLike the Segment Public API, the Config API has one endpoint to retrieve details about a Workspace. The [getWorkspace endpoint](https://reference.segmentapis.com/#7ed2968b-c4a5-4cfb-b4bf-7d28c7b38bd2) returns the following fields:\n\n| Config API     | Public API                           |\n| -------------- | ------------------------------------ |\n| `create_time`  | Not returned                         |\n| `display_name` | `name`                               |\n| `id`           | `id`                                 |\n| `name`         | `slug` (`workspace/` prefix removed) |\n\nTo migrate, replace any use of the Config API endpoints with the Segment Public API counterparts, using the field mappings in the table above.\n"
    },
    {
      "name": "Audit Trail",
      "description": "Segment offers an in-app 90 day Audit Trail for Business Tier accounts.\n\nThe Segment Public API lets you automate consuming these Audit Trail events.\n"
    },
    {
      "name": "IAM Roles",
      "description": "A role gives a user access to resources within a Workspace. Roles are additive, and can combine to configure a custom policy for a Team Member or a Group. A policy is at least one role plus one resource applied to an individual user or group.\n"
    }
  ],
  "paths": {
    "/warehouses/{warehouseId}/connected-sources/{sourceId}": {
      "post": {
        "summary": "Add Connection from Source to Warehouse",
        "parameters": [
          {
            "in": "path",
            "name": "warehouseId",
            "required": true,
            "example": "kjU72LCJexvrqL7G4TMHHN",
            "schema": {
              "type": "string",
              "minimum": 1,
              "maximum": 255
            }
          },
          {
            "in": "path",
            "name": "sourceId",
            "required": true,
            "example": "rh5BDZp6QDHvXFCkibm1pR",
            "schema": {
              "type": "string",
              "minimum": 1,
              "maximum": 255
            }
          }
        ],
        "deprecated": false,
        "description": "Connects a Source to a Warehouse.\n\n\n\n• When called, this endpoint may generate the `Storage Destination Modified` event in the [audit trail](/tag/Audit-Trail).\n      ",
        "operationId": "addConnectionFromSourceToWarehouse",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddConnectionFromSourceToWarehouseV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "status": "CONNECTED"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddConnectionFromSourceToWarehouseV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "status": "CONNECTED"
                  }
                }
              },
              "application/vnd.segment.v1beta+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddConnectionFromSourceToWarehouseV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "status": "CONNECTED"
                  }
                }
              },
              "application/vnd.segment.v1alpha+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddConnectionFromSourceToWarehouseV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "status": "CONNECTED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          }
        },
        "x-domain-hierarchy": [
          "Connections",
          "Warehouses"
        ],
        "tags": [
          "Warehouses"
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { configureApis, unwrap } from '@segment/public-api-sdk-typescript'\n\nconst api = configureApis('/* Insert your Public API token here */')\n\ntry {\n  const result = await unwrap(api.warehouses.addConnectionFromSourceToWarehouse('kjU72LCJexvrqL7G4TMHHN', 'rh5BDZp6QDHvXFCkibm1pR'))\n  console.log(JSON.stringify(result))\n} catch (e) {\n  console.log('ERROR:', e)\n}\n"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.segment.publicapi.api.*;\nimport com.segment.publicapi.auth.*;\nimport com.segment.publicapi.models.*;\n\npublic class Main {\n\n  public static void main(String[] args) throws Exception {\n    ApiClient defaultClient = Configuration.getDefaultApiClient().setBasePath(\"https://api.segmentapis.com\");\n\n    HttpBearerAuth token = (HttpBearerAuth) defaultClient.getAuthentication(\"token\");\n    token.setBearerToken(\"/* Insert your Public API token here */\");\n\n    WarehousesApi api = new WarehousesApi();\n    System.out.println(api.addConnectionFromSourceToWarehouse(\"kjU72LCJexvrqL7G4TMHHN\", \"rh5BDZp6QDHvXFCkibm1pR\").getData());\n  }\n}\n"
          }
        ]
      },
      "delete": {
        "summary": "Remove Source Connection from Warehouse",
        "parameters": [
          {
            "in": "path",
            "name": "warehouseId",
            "required": true,
            "example": "kjU72LCJexvrqL7G4TMHHN",
            "schema": {
              "type": "string",
              "minimum": 1,
              "maximum": 255
            }
          },
          {
            "in": "path",
            "name": "sourceId",
            "required": true,
            "example": "rh5BDZp6QDHvXFCkibm1pR",
            "schema": {
              "type": "string",
              "minimum": 1,
              "maximum": 255
            }
          }
        ],
        "deprecated": false,
        "description": "Disconnects a Source from a Warehouse.",
        "operationId": "removeSourceConnectionFromWarehouse",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RemoveSourceConnectionFromWarehouseV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RemoveSourceConnectionFromWarehouseV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              },
              "application/vnd.segment.v1beta+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RemoveSourceConnectionFromWarehouseV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              },
              "application/vnd.segment.v1alpha+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RemoveSourceConnectionFromWarehouseV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          }
        },
        "x-domain-hierarchy": [
          "Connections",
          "Warehouses"
        ],
        "tags": [
          "Warehouses"
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { configureApis, unwrap } from '@segment/public-api-sdk-typescript'\n\nconst api = configureApis('/* Insert your Public API token here */')\n\ntry {\n  const result = await unwrap(api.warehouses.removeSourceConnectionFromWarehouse('kjU72LCJexvrqL7G4TMHHN', 'rh5BDZp6QDHvXFCkibm1pR'))\n  console.log(JSON.stringify(result))\n} catch (e) {\n  console.log('ERROR:', e)\n}\n"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.segment.publicapi.api.*;\nimport com.segment.publicapi.auth.*;\nimport com.segment.publicapi.models.*;\n\npublic class Main {\n\n  public static void main(String[] args) throws Exception {\n    ApiClient defaultClient = Configuration.getDefaultApiClient().setBasePath(\"https://api.segmentapis.com\");\n\n    HttpBearerAuth token = (HttpBearerAuth) defaultClient.getAuthentication(\"token\");\n    token.setBearerToken(\"/* Insert your Public API token here */\");\n\n    WarehousesApi api = new WarehousesApi();\n    System.out.println(api.removeSourceConnectionFromWarehouse(\"kjU72LCJexvrqL7G4TMHHN\", \"rh5BDZp6QDHvXFCkibm1pR\").getData());\n  }\n}\n"
          }
        ]
      }
    },
    "/sources/{sourceId}/labels": {
      "post": {
        "summary": "Add Labels to Source",
        "parameters": [
          {
            "in": "path",
            "name": "sourceId",
            "required": true,
            "example": "rh5BDZp6QDHvXFCkibm1pR",
            "schema": {
              "type": "string",
              "minimum": 1,
              "maximum": 255
            }
          }
        ],
        "deprecated": false,
        "description": "Adds an existing label to a Source.\n\n\n\n• When called, this endpoint may generate the `Source Modified` event in the [audit trail](/tag/Audit-Trail).\n      ",
        "operationId": "addLabelsToSource",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.segment.v1+json": {
              "schema": {
                "$ref": "#/components/schemas/AddLabelsToSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "type",
                    "value": "web"
                  }
                ]
              }
            },
            "application/vnd.segment.v1beta+json": {
              "schema": {
                "$ref": "#/components/schemas/AddLabelsToSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "type",
                    "value": "web"
                  }
                ]
              }
            },
            "application/vnd.segment.v1alpha+json": {
              "schema": {
                "$ref": "#/components/schemas/AddLabelsToSourceAlphaInput"
              },
              "example": {
                "labels": [
                  {
                    "key": "type",
                    "value": "web"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddLabelsToSourceV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "type",
                        "value": "web"
                      },
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddLabelsToSourceV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "type",
                        "value": "web"
                      },
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1beta+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddLabelsToSourceV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "type",
                        "value": "web"
                      },
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddLabelsToSourceAlphaOutput"
                    }
                  }
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "type",
                        "value": "web"
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          }
        },
        "x-domain-hierarchy": [
          "Connections",
          "Sources"
        ],
        "tags": [
          "Sources"
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { configureApis, unwrap } from '@segment/public-api-sdk-typescript'\n\nconst api = configureApis('/* Insert your Public API token here */')\n\ntry {\n  const result = await unwrap(api.sources.addLabelsToSource('rh5BDZp6QDHvXFCkibm1pR', { labels: [{ key: 'type', value: 'web' }] }))\n  console.log(JSON.stringify(result))\n} catch (e) {\n  console.log('ERROR:', e)\n}\n"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.segment.publicapi.api.*;\nimport com.segment.publicapi.auth.*;\nimport com.segment.publicapi.models.*;\n\npublic class Main {\n\n  public static void main(String[] args) throws Exception {\n    ApiClient defaultClient = Configuration.getDefaultApiClient().setBasePath(\"https://api.segmentapis.com\");\n\n    HttpBearerAuth token = (HttpBearerAuth) defaultClient.getAuthentication(\"token\");\n    token.setBearerToken(\"/* Insert your Public API token here */\");\n\n    SourcesApi api = new SourcesApi();\n    AddLabelsToSourceV1Input input = AddLabelsToSourceV1Input.fromJson(\"{\\\"labels\\\":[{\\\"key\\\":\\\"type\\\",\\\"value\\\":\\\"web\\\"}]}\");\n    System.out.println(api.addLabelsToSource(\"rh5BDZp6QDHvXFCkibm1pR\", input).getData());\n  }\n}\n"
          }
        ]
      },
      "put": {
        "summary": "Replace Labels in Source",
        "parameters": [
          {
            "in": "path",
            "name": "sourceId",
            "required": true,
            "example": "rh5BDZp6QDHvXFCkibm1pR",
            "schema": {
              "type": "string",
              "minimum": 1,
              "maximum": 255
            }
          }
        ],
        "deprecated": false,
        "description": "Replaces all labels in a Source.",
        "operationId": "replaceLabelsInSource",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.segment.v1+json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLabelsInSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "environment",
                    "value": "prod"
                  }
                ]
              }
            },
            "application/vnd.segment.v1beta+json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLabelsInSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "environment",
                    "value": "prod"
                  }
                ]
              }
            },
            "application/vnd.segment.v1alpha+json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLabelsInSourceAlphaInput"
              },
              "example": {
                "labels": [
                  {
                    "key": "environment",
                    "value": "prod"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ReplaceLabelsInSourceV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ReplaceLabelsInSourceV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1beta+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ReplaceLabelsInSourceV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ReplaceLabelsInSourceAlphaOutput"
                    }
                  }
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          }
        },
        "x-domain-hierarchy": [
          "Connections",
          "Sources"
        ],
        "tags": [
          "Sources"
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import { configureApis, unwrap } from '@segment/public-api-sdk-typescript'\n\nconst api = configureApis('/* Insert your Public API token here */')\n\ntry {\n  const result = await unwrap(\n    api.sources.replaceLabelsInSource('rh5BDZp6QDHvXFCkibm1pR', { labels: [{ key: 'environment', value: 'prod' }] })\n  )\n  console.log(JSON.stringify(result))\n} catch (e) {\n  console.log('ERROR:', e)\n}\n"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.segment.publicapi.api.*;\nimport com.segment.publicapi.auth.*;\nimport com.segment.publicapi.models.*;\n\npublic class Main {\n\n  public static void main(String[] args) throws Exception {\n    ApiClient defaultClient = Configuration.getDefaultApiClient().setBasePath(\"https://api.segmentapis.com\");\n\n    HttpBearerAuth token = (HttpBearerAuth) defaultClient.getAuthentication(\"token\");\n    token.setBearerToken(\"/* Insert your Public API token here */\");\n\n    SourcesApi api = new SourcesApi();\n    ReplaceLabelsInSourceV1Input input = ReplaceLabelsInSourceV1Input.fromJson(\n      \"{\\\"labels\\\":[{\\\"key\\\":\\\"environment\\\",\\\"value\\\":\\\"prod\\\"}]}\"\n    );\n    System.out.println(api.replaceLabelsInSource(\"rh5BDZp6QDHvXFCkibm1pR\", input).getData());\n  }\n}\n"
          }
        ]
      }
    },
    "/users/{userId}/permissions": {
      "post": {
        "summary": "Add Permissions to User",
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "example": "sgJDWk3K21k6LE3tLU9nRK",
            "schema": {
              "type": "string",
              "minimum": 1,
              "maximum": 255
            }
          }
        ],
        "deprecated": false,
        "description": "Adds a list of access permissions to a user.\n\n\n\n• When called, this endpoint may generate one or more of the following [audit trail](/tag/Audit-Trail) events:* Policy Created\n* User Policy Updated\n      \n\n\nThe rate limit for this endpoint is 60 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "addPermissionsToUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.segment.v1+json": {
              "schema": {
                "$ref": "#/components/schemas/AddPermissionsToUserV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1beta+json": {
              "schema": {
                "$ref": "#/components/schemas/AddPermissionsToUserV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1alpha+json": {
              "schema": {
                "$ref": "#/components/schemas/AddPermissionsToUserV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddPermissionsToUserV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "policyId": "2NhjDLkczvmxFKr1ma6KdGvd7r2",
                        "roleName": "Workspace Owner",
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "subjectId": "sgJDWk3K21k6LE3tLU9nRK",
                        "subjectType": "user",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddPermissionsToUserV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "policyId": "2NhjDLkczvmxFKr1ma6KdGvd7r2",
                        "roleName": "Workspace Owner",
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "subjectId": "sgJDWk3K21k6LE3tLU9nRK",
                        "subjectType": "user",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1beta+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddPermissionsToUserV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "policyId": "2Nhj5TcFf976y1P4VhN49KSjoZR",
                        "roleName": "Workspace Owner",
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "subjectId": "sgJDWk3K21k6LE3tLU9nRK",
                        "subjectType": "user",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddPermissionsToUserV1Output"
                    }
                  }
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "policyId": "55P3eB1tNooNfXyitxYC9C",
                        "roleName": "Workspace Owner",
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "subjectId": "sgJDWk3K21k6LE3tLU9nRK",
                        "subjectType": "user",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
[...]
